.login-container {
  margin: 0 auto;
  width: 500px;
  max-width: 90%;
  border-radius: 15px;
  box-shadow: 0 0 5px 0px #578af8;

  form {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    gap: 25px;

    .error-box {
      padding: 1em;
      border-radius: 10px;
      background: rgb(155, 0, 0);
      color: #fff;
      animation: shake 0.75s linear forwards;
    }

    .login-form-field {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        background: #040c21;
        border: 1px solid #578af8;
        border-radius: 5px;
        color: #fff;
        font-size: 18px;
        padding: 5px;
      }
    }

    .login_button {
      align-self: center;
      padding: 0.5em 2em;
      border: none;
      outline: none;
      border-radius: 100vh;
      background-color: #578af8;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

.login_title {
  text-align: center;
  margin-bottom: 50px;
}

@keyframes shake {
  0% {
    transform: translateX(10px);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
